<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>fileTypes</key>
		<array>
			<string>ch</string>
			<string>seahopper</string>
		</array>
		<key>scopeName</key>
		<string>source.seahopper</string>
		<key>uuid</key>
		<string>FA4F22B4-180D-417B-B67E-EEEF3F5A9BA4</string>
		<key>name</key>
		<string>seahopper</string>
		<key>patterns</key>
		<array>
			<dict>
				<key>name</key>
				<string>string.quoted.single.seahopper</string>
				<key>begin</key>
				<string>'</string>
				<key>beginCaptures</key>
				<dict>
					<key>0</key>
					<dict>
						<key>name</key>
						<string>punctuation.definition.string.begin.seahopper</string>
					</dict>
				</dict>
				<key>end</key>
				<string>'</string>
				<key>endCaptures</key>
				<dict>
					<key>0</key>
					<dict>
						<key>name</key>
						<string>punctuation.definition.string.end.seahopper</string>
					</dict>
				</dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>match</key>
						<string>\\.</string>
						<key>name</key>
						<string>constant.character.escape.seahopper</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>string.quoted.double.seahopper</string>
				<key>begin</key>
				<string>"</string>
				<key>beginCaptures</key>
				<dict>
					<key>0</key>
					<dict>
						<key>name</key>
						<string>punctuation.definition.string.begin.seahopper</string>
					</dict>
				</dict>
				<key>end</key>
				<string>"</string>
				<key>endCaptures</key>
				<dict>
					<key>0</key>
					<dict>
						<key>name</key>
						<string>punctuation.definition.string.end.seahopper</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>keyword.control.seahopper</string>
				<key>match</key>
				<string>\b(if|else|while|return|break)\b</string>
			</dict>
		</array>
	</dict>
</plist>
